@model URMade.Models.RegisterViewModel
@{
    if (!string.IsNullOrWhiteSpace(Model.RedirectUrl))
    {
        ViewBag.Title = "Login or Register to continue";
    }
    else
    {
        ViewBag.Title = "Login or Register";
    }
}

<h2>@ViewBag.Title</h2>

<div class="col-md-6 col-md-offset-3">
@Html.ValidationSummary("", new { @class = "text-danger" })
</div>

<div class="col-md-6">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => p.RedirectUrl)

        <h4>Create a new account</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <ul>
                <li>Password must be at least 6 characters long.</li>
                <li>Password must be at least one lowercase character.</li>
                <li>Password must be at least one uppercase character.</li>
                <li>Password must have at least one digit.</li>
                <li>Password must have at least one character which is not a letter or a digit.</li>
            </ul>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    }
</div>

<div class="col-md-6">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.RedirectUrl)

            <h4>Log into your account</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
            </div>

            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
        }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
