@model URMade.Models.EditContestViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Contest</h2>

<div class="page-edit">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ContestId)
        @Html.Partial("_ContestForm", Model)

        <br style="clear: left" />
        <div style="text-align: right;">
            <button @Html.TriggerModal("confirmDelete") class="btn btn-danger" btn-xs>Delete</button>
            <input type="submit" value="Save" class="btn btn-default btn-primary" />
        </div>
    }
</div>

@Html.BootstrapModal(
        title: "Confirm Delete Contest",
        id: "confirmDelete",
        confirmLabel: "Delete Contest",
        body: @<div>Are you sure you want to delete this contest?</div>,
        actionUrl: Url.Action("Delete", new { id = Model.ContestId }))